/* --- column layout --- */
/* Media query for desktop screens  */
@media (min-width: 960px) {
  .central-column {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .central-column {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
}
