body {
  background: #ffffff;
}

/* --- Fonts --- */
@font-face {
  font-family: "Progress Medium";
  src: url('Progress-Medium.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url('Poppins-SemiBold.ttf') format('truetype');
}


/* Base Typography Styles (Small/Medium: 0-900px) */
html {
  font-family: Poppins;
  font-size: 16px; /* Base font size */
}

h1 {
  font-family: Progress Medium;
  font-size: 42px;
  font-weight: 500;
}

h2 {
  font-family: Progress Medium;
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-family: Progress Medium;
  font-size: 22px;
  font-weight: 500;
}

h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

h6 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

body, p {
  font-family: Poppins;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.subheading {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
}

/* Large/XL Breakpoint (901px and above) */
@media screen and (min-width: 901px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  body, p {
    font-size: 18px;
  }

  .subheading {
    font-size: 28px;
  }
}

/* set link colour */
a:link {
 color: #E60078;
}

a:hover {
 color: #CC006C;
}

a:active {
  color: #CC006C;
}

a:visited {
  color: #E60078;
}

/* --- navbar --- */
#app_title_link {
  text-decoration: none;
  font-size: inherit;
  color: #000000;
}

#app_title_link:hover {
  color: #cc006c;
}


@media (max-width: 991px) {
  .navbar-brand {
    width: 100%;
  }

  .title {
    grid-area: Title;
    margin-bottom: 20px;
  }

  .logo {
    display: flex;
    position: flex-end;
  }

  .cruk-logo-wide {
    display: none;
  }

  .cruk-logo-stacked {
    align: right; margin-top: 8px; height: 50px;
  }



  .empty-div {
    height: 55px;
    position: relative;

  }

  .navbar-toggle {
    z-index: 9999;
  }

}


/* Set the navbar to have negative space margins either side */
.navbar{
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1016px; /* once padding of other bits happens, this works out to 960px */
  flex-wrap: wrap !important;
  background: #ffffff;
}

.nav.navbar-nav.nav-underline {
  justify-content: flex-end !important;
}

/* black border beneath navbar */
.bslib-page-navbar>.navbar+div,
.bslib-page-dashboard>.navbar+div {
  border-top:black solid 4px;
}

/* overall styling of navbar*/
.navbar {
  font-family: Poppins Medium;
  font-size: 16px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 0px;
}

/* will force navbar links onto a new line because header takes full screen*/
.navbar-header {
  width: 100%;
}

/* style title */
.title {
  display: flex;
  width: 155px;
  font-family: Progress Medium;
  font-size: 1.5rem;
  line-height: 2rem;
  white-space: normal;
  flex-wrap: wrap;
  align-content: center;
}

/* change nav drop down formatting */
.navbar-nav .dropdown-menu {
  background: white;
    border: 2px solid black;
    border-radius: 0px;
}

.dropdown-item, .dropdown-menu>li>a {
  color: #00007e !important;
  font-family: Poppins Medium;
}

a.dropdown-item.active {
  background-color: white !important;
  color: #e60078 !important;
}

.dropdown-item:hover, .dropdown-menu>li>a:hover {
  background-color: white;
}

.dropdown-item.active, .dropdown-menu>li>a.active, .dropdown-item:active, .dropdown-menu>li>a:active {
  background-color: white;
  color: #e60078;
}

/* Reorganise elements for mobile*/
@media (max-width: 991.98px) {
  .navbar-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 5px;
  }
  /* remove left margin on navbar links when on small screen */
  a.nav-link { margin-left: 0px !important}
  /*add some margin above nav elements on small screen*/
  .nav.navbar-nav.shiny-tab-input.shiny-bound-input{
    margin-top: 8px;
  }

  /*change title formatting */
  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 155px;
  }

  .navbar-nav .dropdown-menu {
    border: none;
  }

  .nav.navbar-nav.shiny-tab-input.shiny-bound-input {
    margin-left: 2px;
  }

}

/* show small logo on mobile */
.navbar-collapse.collapsing {
  transition: height 0.45s ease-out !important;
  overflow: hidden;
  height: 0;
}


/* remove margin so top part of navbar isnt spilling over onto two lines */
.navbar-cruk {
  font-size: 1rem;
  margin-right: 0;
  white-space: normal;
}

/* set navbar links to the left hand side */
.nav.navbar-nav.shiny-tab-input.shiny-bound-input{
  justify-content: flex-end;
}

/* hide empty nav link elements */
a.nav-link:empty {
 display: none !important;
}

/*font for nav bar links */
a.nav-link {
  color: #000000 !important;
  font-size: 18px !important;
  font-family: Poppins Medium !important;
  margin-left: 25px; /* This will likely need adjusting based on the length of your tab titles */
}

/* set navbar dropdown to align on the right, avoiding spilling off screen */
.dropdown-menu[data-bs-popper] {
  top:100%;
  right:0;
  left: auto;
  margin-top:var(--bs-dropdown-spacer)
}

/* Replaces the bslib default with a chevron after the nav-items */
.dropdown-toggle::after {
  border: 0 !important;
  background-image: url('.../images/chevron-down.svg');
  display: inline-block;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle !important;
  margin-inline-start: 0.5rem !important;
}

a.dropdown-toggle.nav-link.show::after{
  filter: invert(13%) sepia(63%) saturate(6797%) hue-rotate(317deg) brightness(92%) contrast(120%);
}

/*font for active nav bar link */
a.nav-link.active {
  color: #E60078 !important;
}

/* style the menu button */
.navbar-toggle {
  display: inline-flex;
  align-items: center;
  color: #E60078;
  border: 1px solid #E60078;
  border-radius: 0px;
  padding: 12px 36px;
  background-color: white;
  width: 160px;
  transition: 0.2s;
  margin-bottom: 5px;
}

.navbar-toggle:hover {
  color: #CC006C;
  border: 1px solid #FFF0F8;
  background-color: #FFF0F8;
}

/* change 'menu' button colour when open */
.navbar-toggle[aria-expanded = 'true'] {
  color: white;
  background-color: #E60078;
}

/* change burger icon to down arrow and make it brand pink */
.navbar-toggle>.icon-bar:last-child {
  background-image: url('.../images/chevron-down.svg');
  margin-left: 24px;
  filter: invert(13%) sepia(63%) saturate(6797%) hue-rotate(317deg) brightness(92%) contrast(120%);
  background-size: auto;
}

/* rotate/recolour the icon when the menu opens */
.navbar-toggle[aria-expanded='true']>.icon-bar:last-child {
  transform: rotate(180deg);
  transition: 0.2 ease;
  filter: invert(100%);
}

/* Add in menu text via pseudo-element */
.navbar-toggle::before {
  content: 'Menu';
  font-size: 16px;
  font-weight: 500;
}

/* remove dark highlight when clicking menu button */
.navbar-toggler:focus, .navbar-toggle:focus {
  box-shadow: none;
}

/* ---- Card formatting ----- */
.bslib-card .card-header {
  font-family: Progress Medium;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  border-bottom: none;
  padding: 0px;
}

.card-body {
  padding: 0px;
}
.bslib-card {
  padding: 0px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: none;
}

.bslib-gap-spacing {
    gap: 0rem;
}


/* button colouring - base colour
.btn{
  color: #ffffff;
    background-color: #e60078;
    border-radius: 0px;
}

.btn-info, .btn-outline-primary {
  color: #e60078;
    background-color: #ffffff;
    border-radius: 0px;
    --bs-btn-color: #e60078;
    --bs-btn-border-color: #e60078;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cc006c;
    --bs-btn-hover-border-color: #cc006c;
    --bs-btn-focus-shadow-rgb: 64,64,64;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e60078;
    --bs-btn-active-border-color: #e60078;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #666666;
    --bs-btn-disabled-bg: #e6e6e6;
    --bs-btn-disabled-border-color: #e6e6e6;
    --bs-btn-bg: transparent;
    --bs-gradient: none;
}

/*Default download button styling
/*.btn-outline-default, .btn-default:not(.btn-primary,.btn-secondary,.btn-info,.btn-success,.btn-danger,.btn-warning,.btn-light,.btn-dark,.btn-link,[class*="btn-outline-"]) {
/*    --bs-btn-color: #e60078;
/*    --bs-btn-border-color: #e60078;
/*    --bs-btn-hover-color: #fff;
/*    --bs-btn-hover-bg: #cc006c;
/*    --bs-btn-hover-border-color: #cc006c;
/*    --bs-btn-focus-shadow-rgb: 64,64,64;
/*    --bs-btn-active-color: #fff;
/*    --bs-btn-active-bg: #cc006c;
/*    --bs-btn-active-border-color: #cc006c;
/*    --bs-btn-active-shadow: none;
/*    --bs-btn-disabled-color: #666666;
/*    --bs-btn-disabled-bg: #e6e6e6;
/*    --bs-btn-disabled-border-color: #666666;
/*    --bs-btn-bg: transparent;
/*    --bs-gradient: none;
/*}


/* selected and hover over colouring
.btn-info.active, .btn-info.focus, .btn-info:active, .open>.dropdown-toggle.btn-info, .btn-info:hover, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover    {
  color: #fff !important;
    background-color: #cc006c !important;
    border-color: #cc006c !important;
}
*/
/* remove shadow from radio buttons */
/*.btn.active, .btn:active {
/*  background-image: none;
/*  outline: 0;
/*  -webkit-box-shadow: none;
/*  box-shadow: none;
/*}
/*
/*.btn.radiobtn {
/*  border-radius: 0;
/*}
