.cruk-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0px;
    width: fit-content;
    gap: 12px;
    padding: 12px 24px;
    min-width: 160px;
    max-width: 250px;
}

.cruk-btn-icon-primary {
  font-size: 1.25rem;
  color: #ffffff;
}

.cruk-btn-icon-secondary {
  font-size: 1.25rem;
  color: #E60078;
}

.cruk-btn-primary {
  border: 1px solid #e60078;
  background: #e60078;
  color: #ffffff;
}

.cruk-btn-primary:active, .cruk-btn-primary:hover {
  border: 1px solid #cc006c;
  background: #cc006c;
  color: #ffffff;
}

.cruk-btn-secondary {
  border: 1px solid #e60078;
  background: #ffffff;
  color: #e60078;
}

.cruk-btn-secondary:active, cruk-btn-priamry:hover {
  border: 1px solid #cc006c;
  background: #ffffff;
  color: #cc006c;
}
